@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
    margin: 0;
    background-color: #fafafa;
    font-family: 'Roboto', sans-serif;
    color: #333;
}

.container {
    width: 402px;
}

canvas {
    display: none;
}

.canvas-location{
    float: left;
}

.input {
    width: 200px;
    height: 120px;
    float: right;
}

.clearfix {
    float: none;
    clear: both;
}

.input div{
    margin: 1em;
}

.input label {
    font-size: 1.2em;
}

.buttons button {
    width: 47%;
    text-align: center;
    margin: 0 1%;
}

button {
    font-family: 'Roboto', sans-serif;
    color: #333;
    background: #f0f0f0;
    border: 1px solid #aaa;
    border-radius: 0.3em;
    box-shadow: 0 2px 3px #444;
    position: relative;
}

button:active {
    top: 1px;
    box-shadow: 0 1px 2px #444;
}

#image_to_copy {
    width: 200px;
    border: 1px solid black;
    height: 150px;
}

.links>ul{
    padding: 0;
    width: 400px;
}

.links>ul>li{
    list-style: none;
    min-width: calc(390px / 4);
    display: inline-block;
    text-align: center;
}
