@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
    margin: 0;
    background-color: #fafafa;
    font-family: 'Roboto', sans-serif;
    color: #333;
}

canvas {
    display: none;
}

.input {
    width: 200px;
    height: 120px;
}

.clearfix {
    float: none;
    clear: both;
}

.input div{
    margin: 1em;
}

.input label {
    font-size: 1.2em;
}

#clear_button {
    width: 97%;
    text-align: center;
    margin: 0 1%;
}

button {
    font-family: 'Roboto', sans-serif;
    color: #333;
    background: #f0f0f0;
    border: 1px solid #aaa;
    border-radius: 0.3em;
    box-shadow: 0 2px 3px #444;
    position: relative;
}

button:active {
    top: 1px;
    box-shadow: 0 1px 2px #444;
}

input[type="text"] {
    border-radius: 3px;
    box-shadow: none;
}

#image_to_copy {
    border: 1px solid black;
    max-width: 200px;
    max-height: 150px;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

div#copyable{
    width: 202px;
    height: 152px;
    vertical-align: middle;
    position:relative;
}

.links>ul{
    padding: 0;
    max-width: 200px;
    margin: 0;
}

.links>ul>li{
    list-style: none;
    min-width: calc(390px / 4);
    display: inline-block;
    text-align: center;
    margin-top: 0.5em ;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

.tooltip .image_tooltip {
    width: 150px;
    bottom: 200px;
    left: 100%;
    margin-left: -35px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

.tooltip .write_here {
    width: 150px;
    font-size: 0.8em;
    bottom: 100px;
    left: 100%;
    margin-left: -35px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}
